@{
    ViewData["Title"] = "Access Denied";
}
<div class="row justify-content-md-center py-5 px-xl-5">
    <div class="col-md-6 col-12 py-5">
        <div class="text-center mb-2 pb-2">
            <h2 class="section-title px-5 mb-3"><span class="px-2">Access Denied</span></h2>
            <p>You must be an administrator to visit this page</p>
            <div>
                <a href="/" class="btn btn-primary px-4">Home</a>
            </div>
        </div>
    </div>
</div>

