@using kurs.Models.Forms;
@{
    Layout = null;
}
@model ChangePasswordForm
<form asp-action="ChangePassword" asp-controller="Account" onsubmit="return ChangePasswordPost(this);">
    <div asp-validation-summary="All" hidden></div>
    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    <div class="input-group mb-3">
        <input type="password" asp-for="CurrentPassword" class="form-control" placeholder="Current Password" aria-label="Current Password">
    </div>
    <div class="row align-items-end mb-3">
        <div class="col pr-2">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
            <div class="input-group">
                <input type="password" asp-for="NewPassword" class="form-control" placeholder="New Password" aria-label="New Password">
            </div>
        </div>
        <div class="col pl-2">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <div class="input-group">
                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
</form>