@using kurs.Models.Forms;
@{
    ViewData["Title"] = "Register";
}
@model RegisterForm
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
        <h1 class="font-weight-semi-bold text-uppercase">Sign up</h1>
    </div>
</div>
<!-- Page Header End -->
<div class="container-fluid d-flex justify-content-center">
    <form asp-action="register" asp-controller="account" class="w-50">
        <div asp-validation-summary="All" hidden></div>
        <div class="row align-items-end mb-3">
            <div class="col pr-2">
                <span asp-validation-for="Firstname" class="text-danger"></span>
                <div class="input-group">
                    <input type="text" asp-for="Firstname" class="form-control" placeholder="Firstname" aria-label="Firstname">
                </div>
            </div>
            <div class="col pl-2">
                <span asp-validation-for="Lastname" class="text-danger"></span>
                <div class="input-group">
                    <input type="text" asp-for="Lastname" class="form-control" placeholder="Lastname" aria-label="Lastname">
                </div>
            </div>
        </div>
        <div class="row align-items-end mb-3">
            <div class="col pr-2">
                <span asp-validation-for="CityId" class="text-danger"></span>
                <div class="input-group">
                    <select class="custom-select" asp-for="CityId">
                        <option selected>Choose a City</option>
                        @foreach (Country country in ViewBag.Countries)
                        {
                            <optgroup label="@country.Name">
                                @foreach (City city in country.Cities)
                                {
                                    <option value="@city.Id">@city.Name</option>
                                }
                            </optgroup>
                        }
                    </select>
                </div>
            </div>
            <div class="col pl-2">
                <span asp-validation-for="Address" class="text-danger"></span>
                <div class="input-group">
                    <input type="text" asp-for="Address" class="form-control" placeholder="Address" aria-label="Address">
                </div>
            </div>
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
        <div class="input-group mb-3">
            <input type="text" asp-for="Email" class="form-control" placeholder="Email" aria-label="Email">
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
        <div class="input-group mb-3">
            <input type="password" asp-for="Password" class="form-control" placeholder="Password" aria-label="Password">
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <div class="input-group mb-3">
            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Confirm</button>
    </form>
</div>